[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/Ottermandias/OtterGui.git
	branch = main
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons

[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/aers/FFXIVClientStructs.git
